.song-info img{
    width: 60px;
    border-radius: 4px;
}
#now-playing{
    grid-area: now-playing;
}
.footer-container{
    background-color: var(--background-press);

}

.volume-level{
    max-width: 150px;
    background-color: #fff;
    height: 4px;
    border-radius: 4px;
    min-width: 125px;
}
.recent-volume{
    width: 20%;
    background-color: #1ed760;
    height: 4px;
    border-radius: 4px;
}
.song-name .name{
    font-size: 0.9rem;
    color: #fff;
}
.song-name .artist{
    font-size: 0.75rem;
    color:var(--text-subdued);
}
.song-info i{
    color:#fff
}
.player-control-buttons i{
    font-size: 1.5rem;
    color: var(--essential-subdued);
}
.player-control-buttons i.play-button{
    color: #fff;
    font-size: 2rem;
}
.playback-bar span{
    font-size: 0.775rem;
    color: var(--essential-subdued);
}
.option-bar i{
    color: var(--essential-subdued);
}
.player-control-buttons button{
    background-color: transparent;
    border: none;
}
input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 300px;
    margin: 0;
    padding: 0;
    height: 7px;
    float: left;
    outline: none;
    border-radius: 4px;
    background: rgba(134, 134, 134, 0.753);
  }
  input[type="range"]::-webkit-slider-runnable-track {
    /* width: 100%; */
    /* height: 3px; */
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  .playback-bar{
    width: 100%;
  }